@model IEnumerable<Z_Hunger.EF.CollectionRequest>

@{
    Layout = "~/Views/Shared/_EmployeeL.cshtml";
    ViewBag.Title = "FoodRequest";
}

<h2>FoodRequest</h2>
<a href="/Employee/CompletedRequest" class="btn btn-danger">Completed Request</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IteamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiredTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Accept
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IteamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiredTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Accept", "AcceptRequest", new { id = item.CollectionRequestID })
            </td>
        </tr>
    }

</table>
