@model Z_Hunger.EF.CollectionRequest
@{
    //Layout = "~/Views/Shared/_Employee.cshtml";
    ViewBag.Title = "AcceptRequest";
}

<h2>AcceptRequest</h2>
<span>If you already received Food from Restaurant,</span>
<span>then press Accept to complete your job</span>
<br />
<br />

<form method="post">
    <input type="hidden" name="CollectionRequestID" value="@Model.CollectionRequestID" />
    <input type="hidden" name="IteamName" value="@Model.IteamName" />
    <input type="hidden" name="CreationTime" value="@Model.CreationTime" />
    <input type="hidden" name="ExpiredTime" value="@Model.ExpiredTime" />
    <input type="hidden" name="RestaurantID" value="@Model.RestaurantID" />
    <input type="hidden" name="Status" value="@Model.Status" />
    <input type="hidden" name="EmployeeID" value="@Model.EmployeeID"/>
    <input type="submit" value="Accept" class="btn btn-danger" />
    <a href="/Employee/Index" class="btn btn-primary">Cancel</a>
</form>