@model IEnumerable<ProductsProcess.EF.Product>
@{
    ViewBag.Title = "ViewCart";
}

<h2>ViewCart</h2>
<a href="/Customer/ViewProduct/" class="btn btn-danger">Back to Product</a>


<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            @*<td>@product.ProductID</td>*@
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td><span>$</span> @product.Price</td>
            @*<td>@product.Quantity</td>*@
            <td>
                <input type="number" name="quantity" value="@product.Quantity" min="1" class="btn btn-outline-secondary" />
            </td>
            <td>@Html.ActionLink("Delete", "CancelFromCart", new { id = product.ProductID }, new { @class = "btn btn-danger" })</td>

        </tr>
    }
</table>
