@model form.Models.Login
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<h3>@(Model != null ? Model.Username: "")</h3>
<h3>@(Model != null ? Model.Password: "")</h3>



@*Mutual validation*@

@Html.ValidationSummary()

<form action="" method="post">
    <input value="@(Model != null ? Model.Username: "")" type="text" name="Username" class="form-control" placeholder="Username" />
    <br />
    @Html.ValidationMessage("Username")

    <input value="@(Model != null ? Model.Password: "")" type="password" name="Password" class="form-control" placeholder="Password" />
    <input type="submit" value="Logn" class="btn btn-warning" />

</form>

