@model Z_Hunger.EF.CollectionRequest

@{
    Layout = "~/Views/Shared/_NGOL.cshtml";
    ViewBag.Title = "RejectRequest";
}

<h2>RejectRequest</h2>

<span style="color: red;">Are you sure you want to Reject the food request</span>
<br />
<br />

<form method="post">
    <input type="hidden" name="CollectionRequestID" value="@Model.CollectionRequestID"/>
    <input type="hidden" name="IteamName" value="@Model.IteamName"/>
    <input type="hidden" name="CreationTime" value="@Model.CreationTime"/>
    <input type="hidden" name="ExpiredTime" value="@Model.ExpiredTime"/>
    <input type="hidden" name="RestaurantID" value="@Model.RestaurantID"/>
    @*<input type="hidden" name="Status" value="@Model.Status"/>*@
    <input type="submit" value="Reject" class="btn btn-danger" />
    <a href="/ngo/viewRequest" class="btn btn-primary">Cancel</a>
</form>
