@model formValidation.Models.Signup
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Signup</h2>
@if (Model != null)
{
    <h4>@Model.Name</h4>
    <h4>@Model.UserName</h4>
    <h4>@Model.Email</h4>
    <h4>@Model.Password</h4>
}


@*@Html.ValidationSummary()*@
<form action="" method="post">
    <input type="text" name="Name" value="@(Model != null ? Model.Name :"")" class="form-control" placeholder="Name" />@Html.ValidationMessage("Name")
    <input type="text" name="UserName" value="@(Model != null ? Model.UserName :"")" class="form-control" placeholder="User name" />@Html.ValidationMessage("Username")
    <input type="email" name="Email" value="@(Model != null ? Model.Email :"")" class="form-control" placeholder="Email" />@Html.ValidationMessage("Email")
    <input type="password" name="Password" value="@(Model != null ? Model.Password :"")" class="form-control" placeholder="Password" />@Html.ValidationMessage("Password")
    <input type="password" name="ConfirmPassword" value="@(Model != null ? Model.ConfirmPassword :"")" class="form-control" placeholder="Confirm Password" />@Html.ValidationMessage("ConfirmPassword")
    <br />
    <input type="submit" value="Signin" class="btn btn-primary" />

</form>

